<!DOCTYPE html>
<html>
<head>
    <title>Tabela de Clientes</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Flag</th>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente["id"] }}</td>
                <td>{{ cliente["nome"] }}</td>
                <td>{{ cliente["flag"] }}</td>
                <td>{{ cliente["saldo"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
